html,
body {
    width: 100%;
    height: 100%;
    text-decoration-color: white;
}
/* Start Cursive Font */
.big-cursive {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
}
/* End Cursive Font */

/* Start Custom Intro Button*/
.btn-custom {
    color: gold;
    background-color: transparent;
    border-color: transparent;
}
/* End Custom Intro Button */

.whiteFont {
    color:white;
}



/* Start Intro Button Padding Top*/
.intro-btn-padding{
    padding-top: 9em;
}
/* End Intro Button Padding Top*/



/*Start Text Shadow */
.black-text-shadow {
    text-shadow: 1px 1px 1px #000000;
}
/* End Text Shadow */




/* Start Title Size */
.title-size {
    font-size: 3em;
}
/* End Title Size */


/* Start Sub-Title Size */
.sub-title-size{
    font-size: 2em;
}
/* End Sub-Title Size */



/* Start Intro Color Adjustment */
.intro-color {
    text-color: white;
}



/* End Intro Color Adjustment */

/* Start Intro Text Padding */
.text-intro-padding{
    padding-top: 10em;
}
/* End Intro Text Padding */



/* entire body font start */
body {
    font-family: 'Montserrat', sans-serif;
}
/* entire body font end */


/* Start 6Pro Navbar Logo Properties */
.logo {
    height: 40px;
    width:  98px;
}
/* End of 6Pro Navbar Logo Properties */

/* start request quote button */
.request-btn {
    border-color: white;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;

    border: 9px;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;

    padding: 15px 30px;
}
/* end request quote button */

/* Start intro button properties start */
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: gold;
    background-color: white);
}


/* End intro button properties end */

/* Start intro background properties start */
.intro-background {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/noon2.jpg) no-repeat center center scroll;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}
/* End intro background properties end */



/* start page 2 subtitle size */
.page-2-subtitle-size{
    font-size: 2em;
}
/* end page 2 subtitle size */



/* Start Div 2 text Padding */
.page-2-text-padding {
    padding-top: 9em;
}
/* End Div 2 text Padding */


/* Start Section 2 Div Background */
.section-2-background {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/pagetwo.jpeg) no-repeat center center scroll;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/* End Section 2 Div Background */


/* Start Section 3 Div Background */
.section-3-background {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/phone.jpeg) no-repeat center center scroll;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/* End Section 3 Div Background */

/* start page 3 subtitle size */
.page-3-subtitle-size {
    font-size: 3em;
}
/* end page 3 subtitle size */

/* Start Div 3 text Padding */
.page-3-text-padding {
    padding-top: 6em;
}
/* End Div 3 text Padding */




/* Start Section 4 Div Background */
.section-4-background {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/deliver.jpeg) no-repeat center center scroll;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/* End Section 4 Div Background */

/* start page 4 subtitle size */
.page-4-subtitle-size {
    font-size: 3em;
}
/* end page 4 subtitle size */

/* Start Div 4 text Padding */
.page-4-text-padding {
    padding-top: 6em;
}
/* End Div 4 text Padding */

/* Start Contact Page Background */
.contact-background{
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/snow.jpg) no-repeat center center scroll;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/* End Contact Page Background */

/* start contact text title padding */
.contact-text-title-padding{
    padding-top: 3em;
}
/* end contact text title padding */

/* start write to us icon */
.write-to-us-btn-padding {
    position: absolute;
    top: 80%;
}
/* end write to us icon */

/* start text align for contact info */
.contact-text-alignment {
    text-align: center;
}
/* end text align for contact info */

/* start contact info icon padding */
.contact-icon-padding {
    padding-left: 1em;
    padding-top: 1em;
}
/* end contact info icon padding */


/* start design html intro background */
.design-background {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/raspberries.jpeg) no-repeat center center scroll;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/* end design html intro background */

/* start contact text title padding */
.design-text-title-padding{
    padding-top: 3em;
}
/* end contact text title padding */

/* start find out more design button */
.find-out-more-design-btn {
    border-color: white;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;

    border: 9px;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;

    padding: 15px 30px;
}
/* end find out more design button */

/*  start design html section 2 design explanation */
.design-section-2-background{
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/redblock.jpg) no-repeat center center scroll;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/*  end design html section 2 design explanation */
.red {
    background-color: red;
}
/* start design section 2 background */
.design-section-3-background{
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/hands.jpeg) no-repeat center center scroll;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/* end design section 2 background */

/* Start Cursive Font Property no size selected*/
.cursive {
    font-family: 'Dancing Script', cursive;
}
/* end cursive font property */

/* start design information padding */
.design-information-padding{
    padding-top: 5em;
}
/* end design information padding */


/* start design section 2 title padding*/
.design-section2-title-padding {
    padding-top: 4em;
}
/* end design section 2 title padding*/

/* start about section 1 background */
.about-section-1-background {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/coffee.jpg) no-repeat center center scroll;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/* end about section 1 background */
.rowHeight{
    height: 100%;
}

/* start bold font weight */
.bold {
    font-weight: bold;
}
/* end bold font weight */



/* start about section text padding */
.about-section-1-text-padding {
    padding-top: 4em;
}
/* end about section text padding */


/* start of about section 2 background */
.about-section-2-background {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/jellyfish.jpg) no-repeat center center scroll;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/* end of about section 2 background */

/* start about section 3 background */
.about-section-3-background {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/spacecircle.jpg) no-repeat center center scroll;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/* end about section 3 background */